body{
    background-color: #284a8c;
    filter: blur(0px);
}


#title{
    color:azure;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 4em;
    text-align: center;
}

.scoreBoard{
    color:azure;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.5em;
    text-align: center;
}

.newItems{
    text-align: center;
}

#newItem{
    text-align: center;
    border-radius: 1em;
    padding: .9em;
    border-radius: 30%;
    cursor: pointer; 

}

.sortBoard{
    color:azure;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.5em;
    display: inline-block;
    padding: 1em;
}


#landfillImg{
    border-radius: 1em;
    box-shadow: 5px 10px #888888;
    transition: .3s ease;
}

#landfillImg:hover{
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

#recyclingImg{
    border-radius: 1em;
    box-shadow: 5px 10px #888888;
    transition: .3s ease;
}

#recyclingImg:hover{
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

#compostImg{
    border-radius: 1em;
    box-shadow: 5px 10px #888888;
    transition: .3s ease;
}

#compostImg:hover{
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}


@keyframes shake {
    10%, 90% {
      transform: translate3d(-1px, 0, 0);
    }
  
    20%, 80% {
      transform: translate3d(2px, 0, 0);
    }
  
    30%, 50%, 70% {
      transform: translate3d(-4px, 0, 0);
    }
  
    40%, 60% {
      transform: translate3d(4px, 0, 0);
    }
  }
  
.apply-shake {
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97);
}

.sort{
    text-align: center;
}

.resultsMessage{
    color:azure;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 3em;
    text-align: center;
}

.resultsExplain{
    color:azure;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1em;
    text-align: center;
}

.footer{
    color: azure;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding-top: 2em;
}